.product-card {
    text-align: center;
    margin-bottom: 30px;

    &__image {
        padding-top: 100%;
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;

        img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
        }
    }
}
